<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <!-- Angular Files -->
    <script src="vendor/angular/angular.min.js"></script>
    <script src="app/config.js"></script>
    <script src="app/controllers/searchController.js"></script>
    <script src="app/services/genreService.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
     <link href="css/freelancer.css" rel="stylesheet">
    
    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> 
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <title>The MovieDB App</title>
</head>

<body id="page-top" class="index" ng-controller="searchController" ng-init="loadCollections()">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">The MovieDB App</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/footer-pipoca.png" alt="">
                    <div class="intro-text">
                        <span class="name">The MovieDB App</span>
                        <hr class="star-light">
                        <span class="skills">Learn about upcoming movies </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Upcoming Movies</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item" ng-repeat="movie in upcoming">
                    <a ng-click="open(movie)" data-toggle="modal" data-target="#movie-info" title="{{movie.title}}" class="portfolio-link" > 
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img ng-show="{{movie.poster_path != null}}" ng-src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="img-responsive" alt="">
                        <img ng-show="{{movie.poster_path == null}}" ng-src="img/no-image.jpg" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal Movie Info -->
    <div class="modal" id="movie-info">
        <div class="modal-content">
            <div class="modal-header">
                <center><h2>{{movieSelected.title}}</h2></center>
            </div>  
            <div class="modal-body">
                <div>
                     <img class="face" width="200px;" height="250px" ng-src="https://image.tmdb.org/t/p/w500{{movieSelected.poster_path}}">
                </div>
                <hr class="star-primary"> 
                <h3> {{movieSelected.overview}} </h3>
                <h4>{{getGenresNames(movieSelected.genre_ids)}} </h4> 
                <h4> Release Date: {{movieSelected.release_date}} </h4>         
                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal"">Close</button>
                </div>
            </div>
        </div>
    </div>   
    

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>An app for cinephiles and movie hobbyists. This version of the app is very simple and limited to show the list of upcoming movies. The app is feeding with content from The Movie Database (TMDb) .</p>
                </div>
                <div class="col-lg-4">
                    <p>The Movie Database (TMDb) is a community built movie and TV database. Every piece of data has been added by our amazing community dating back to 2008.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>Monteiro - PB
                            <br>Brasil</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/mayza.nunes.3" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/u/0/111716406323119044285" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="https://br.linkedin.com/in/mayza-nunes-62328669" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About Freelancer</h3>
                        <p>Freelance is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Your Website 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="vendor/bootstrap/js/freelancer.min.js"></script>
    <script src="vendor/bootstrap/js/ui-bootstrap-tpls-0.10.0.js"></script>

</body>
</html>